{% load static %}
<!DOCTYPE html>
<html lang="en">
 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Home - BetterSogo</title>
        <link rel="apple-touch-icon" type="image/png" sizes="180x180" href=" {% static 'assets/img/apple-touch-icon.png' %} ">
        <link rel="icon" type="image/png" sizes="16x16" href=" {% static 'assets/img/favicon-16x16.png' %} ">
        <link rel="icon" type="image/png" sizes="32x32" href=" {% static 'assets/img/favicon-32x32.png' %} ">
        <link rel="icon" type="image/png" sizes="180x180" href=" {% static 'assets/img/apple-touch-icon.png' %} ">
        <link rel="icon" type="image/png" sizes="192x192" href=" {% static 'assets/img/android-chrome-192x192.png' %} ">
        <link rel="icon" type="image/png" sizes="512x512" href=" {% static 'assets/img/android-chrome-512x512.png' %} ">
        <link rel="stylesheet" href=" {% static 'assets/bootstrap/css/bootstrap.min.css' %} ">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel&amp;display=swap">
        <link rel="stylesheet" href=" {% static 'assets/fonts/fontawesome-all.min.css' %} ">
        <link rel="stylesheet" href=" {% static 'assets/fonts/font-awesome.min.css' %} ">
        <link rel="stylesheet" href=" {% static 'assets/fonts/material-icons.min.css' %} ">
        <link rel="stylesheet" href=" {% static 'assets/fonts/fontawesome5-overrides.min.css' %} ">
        <link rel="stylesheet" href=" {% static 'assets/css/Contact-Form-Clean.css' %} ">
        <link rel="stylesheet" href=" {% static 'assets/css/Features-Clean.css' %} ">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
        <link rel="stylesheet" href=" {% static 'assets/css/Login-Form-Dark.css' %} ">
        <link rel="stylesheet" href=" {% static 'assets/css/Registration-Form-with-Photo-1.css' %} ">
        <link rel="stylesheet" href=" {% static 'assets/css/Registration-Form-with-Photo.css' %} ">
        <link rel="stylesheet" href=" {% static 'assets/css/Simple-Slider.css' %} ">
        <link rel="stylesheet" href=" {% static 'assets/css/untitled.css' %} ">
    </head>

    
    {% block content %}

    {% endblock %}
    
    <script src=" {% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'assets/js/bs-init.js' %} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src=" {% static 'assets/js/grayscale.js' %} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src=" {% static 'assets/js/Simple-Slider.js' %} "></script>

</html>

