{% extends 'base.html' %}

{% load static %}

{% block content %}

<body style="background: #475d62 url( {% static 'assets/img/star-sky.jpg' %} );background-size: cover;position: relative;">
    {% include "navbar.html" %}

    <div class="container" style="background: #fffbfb;border-radius: 50px;border: 10.0px solid #1e2833;padding: 50px;">
        <div class="row">
            <div class="col-md-12">
                <div id="receipt-icon" style="text-align: center;"><i class="fas fa-receipt" style="color: #214a80;font-size: 76px;text-align: center;"></i></div>
                <div id="hotel_details" class="text-center" style="border-style: solid;">
                    <div class="row" style="color: rgb(0,0,0);">
                        <div class="col"><small><i class="fa fa-phone"></i> <i class="fa fa-hotel"></i> {{ object.hotel_code.name }}</small></div>
                        <div class="col"><small> <i class="fa fa-location-arrow"></i> {{ object.hotel_code.location }}</small></div>
                        <div class="col"><small>&nbsp; &nbsp; <i class="fa fa-phone"> </i> {{ object.hotel_code.phone }}</small></div>
                        <div class="col"><small>   <i class="fas fa-mail-bulk"></i> {{ object.hotel_code.hotel_email }}</small></div>
                    </div>
                </div>
                <div id="reservation_table">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Reservation details</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Booking Number&nbsp;</td>
                                    <td>{{ object.booking_num }}</td>
                                </tr>
                                <tr>
                                    <td>Check in date</td>
                                    <td>{{ object.checkin_date }}</td>
                                </tr>
                                <tr>
                                    <td>Check out date</td>
                                    <td>{{ object.checkout_date }}</td>
                                </tr>
                                <tr>
                                    <td>Number of guest</td>
                                    <td>{{ object.no_of_guests }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="customer_details">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th id="customer-details">Customer details<br></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ object.guest_ID.first_name }} {{ object.guest_ID.last_name }}</td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>{{ object.guest_ID.phone }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ object.guest_ID.email }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="roomsnservices_tables">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Rooms/Services</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-active">Name</td>
                                    <td class="table-active">Amount</td>
                                </tr>
                                <tr>
                                    <td>Accommodation Type: <b> {{ object.room_ID }} </b> &nbsp;</td>
                                    <td>{{ object.room_ID.rate }}</td>
                                </tr>
                                <tr>
                                    <td>Reservation Fee</td>
                                    <td>50 Php</td>
                                </tr>
                                <tr>
                                    <td>Left to charge</td>
                                    <td>{{ object.compute_charges }} Php</td>
                                </tr>
                                <tr>
                                    <td><strong>Total</strong></td>
                                    <td>{{ object.charge }}</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td class="text-center"><button class="btn btn-primary" type="button" style="background: rgb(33,74,128);border-radius: 21px;color: rgb(255,255,255);"><i class="fas fa-print" style="padding-right: 8px;"></i>PRint a copy</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src=" {% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>
    <script src=" {% static 'assets/js/bs-init.js' %} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src=" {% static 'assets/js/grayscale.js' %} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src=" {% static 'assets/js/Simple-Slider.js' %} "></script>
</body>

{% endblock %}   