{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include "navbar.html" %}


<section class="register-photo" style="background: rgb(0,0,0);height: 1000px;background: #475d62 url( {% static 'assets/img/star-sky.jpg' %} );background-size: cover;position: relative;">
    <div class="form-container" style="width: 445.006px;">
        {{ form.non_field_errors }}

        {{ form.source.errors }}
        {{ form.source }}          
        <form method="POST" style="background: rgb(30,40,51);">
            {% csrf_token %}
            {% if form.is_valid %}
            <h2 class="text-center" style="color: rgb(255,255,255);"><strong>Thank you for your feedback</strong></h2>
            <p> (DEBUGING ONLY)The model classify it as: <b>{{ ratings }}</b></p>
            {% endif %}
            <h2 class="text-center" style="color: rgb(255,255,255);"><strong>Tell us what you think? </strong></h2>
            
            {% for field in form %}
  
            <div class="container" style="color: rgb(255,255,255);">
                <div class="row">
                    <div class="col-md-12"><label class="col-form-label"><small>{{field.label}}</small></label></div>
                </div>
                <div class="row">
                    {{field}}
                </div>
            </div>

            {% endfor %}
            <br>
         
            <div class="mb-3">    <input type="submit" value="Submit"></div>

            

        </form>
    </div>
</section>


{% endblock %}
